@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Hakkında bilgi al <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core ile Web uygulamaları oluşturma.</a>.</p>
</div>
