<!-- About section start-->
    <section class="about">
        <!-- container Start-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 heading">
                    <img src="/images/leaf.png" alt="">
                    <h2>Yoga as a lifestyle, Body & Soul</h2>
                    <h3>interesting blog posts on creativity and design</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12 box-1" data-aos="fade-right" data-aos-duration="400">
                    <div class="circle">
                        <div class="gradient"></div>
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                                <div class="circle__content">
                                    <h4><a href="products.html">Yoga <span>for</span> Life</a></h4>
                                    <p><a href="products.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-12 box-2" data-aos="fade-up" data-aos-duration="400">
                    <div class="circle">
                        <div class="gradient"></div>
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                                <div class="circle__content">
                                    <h4><a href="products.html">Yoga <span>for</span> Life</a></h4>
                                    <p><a href="products.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-12 box-3" data-aos="fade-left" data-aos-duration="400">
                    <div class="circle">
                        <div class="gradient"></div>
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                                <div class="circle__content">
                                    <h4><a href="products.html">Yoga <span>for</span> Life</a></h4>
                                    <p><a href="products.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container Ended-->
    </section>
    <!-- About section Ended-->
    <!-- Services section start-->
    <section class="services">
        <!-- container-fluid Start-->
        <div class="container-fluid">
            <div class="row" data-aos="fade-up" data-aos-duration="400">
                <div class="col-md-3">
                    <figure>
                        <img src="images/services-bg.jpg" alt="The Pulpit Rock">
                    </figure>
                    <div class="gradient"></div>
                </div>
                <div class="col-md-9 right-part">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Yoga Is Good For Everyone!</h2>
                            <h3>Good for all men, women and childrens</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. a galley of type and scrambled...</p>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-12 contant-part-1">
                                    <ul>
                                        <li><i class="fa fa-envira" aria-hidden="true"></i><span><a href="services.html">Yoga Cures Cancer</a></span></li>
                                        <li><i class="fa fa-envira" aria-hidden="true"></i><span><a href="services.html">Yogs Makes You Young</a></span></li>
                                        <li><i class="fa fa-envira" aria-hidden="true"></i><span><a href="services.html">Get Fit and Well</a></span> </li>
                                        <li><i class="fa fa-envira" aria-hidden="true"></i><span><a href="services.html">Yoga Is Great!</a></span></li>
                                    </ul>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-12 contant-part-2">
                                    <ul>
                                        <li><i class="fa fa-envira" aria-hidden="true"></i><span><a href="services.html">Yoga Cures Cancer</a></span></li>
                                        <li><i class="fa fa-envira" aria-hidden="true"></i><span><a href="services.html">Yogs Makes You Young</a></span></li>
                                        <li><i class="fa fa-envira" aria-hidden="true"></i><span><a href="services.html">Get Fit and Well</a></span> </li>
                                        <li><i class="fa fa-envira" aria-hidden="true"></i><span><a href="services.html">Yoga Is Great!</a></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- container-fluid Ended-->
    </section>
    <!-- Services section Ended-->
    <!-- Section-4 section start-->
    <section class="section-4">
        <!-- container-fluid Start-->
        <div class="container-fluid">
            <div class="row" data-aos="fade-up" data-aos-duration="400">
                <div class="col-md-9 right-part">
                    <div class="row">
                        <div class="col-md-12 heading">
                            <h2>Control, Body & Mind!</h2>
                            <h3>Good for all men, women and childrens</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 col-6">
                                    <figure>
                                        <img src="images/services-bg.jpg" alt="The Pulpit Rock">
                                    </figure>
                                </div>
                                <div class="col-md-3 col-6">
                                    <figure>
                                        <img src="images/blog-1.jpg" alt="The Pulpit Rock">
                                    </figure>
                                </div>
                                <div class="col-md-3 col-6">
                                    <figure>
                                        <img src="images/blog-2.jpg" alt="The Pulpit Rock">
                                    </figure>
                                </div>
                                <div class="col-md-3 col-6">
                                    <figure>
                                        <img src="images/blog-3.jpg" alt="The Pulpit Rock">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. a galley of type and scrambled Lorem Ipsum is simply dummy typesetting industry. a galley of type and scrambled...</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. a galley of type and scrambled......</p>
                            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Gallery</a>
                            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">book now</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <figure>
                        <img src="images/section-4-bg.jpg" alt="The Pulpit Rock">
                    </figure>
                    <div class="gradient"></div>
                </div>
            </div>
        </div>
        <!-- container-fluid Ended-->
    </section>
    <!-- Section-4 section Ended-->
    <!-- Blog section start-->
    <section class="blog">
        <!-- container Start-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 heading">
                    <img src="images/leaf.png" alt="">
                    <h2>Some useful Yoga Articles for you!</h2>
                    <h3>Good for all men, women and childrens</h3>
                </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-duration="400">
                <div class="col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="images/blog-1.jpg" class="zoom" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="images/blog-2.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="images/blog-3.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="images/blog-4.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 button">
                    <a class="btn btn-success" href="blog-page.html" role="button">Gallery</a>
                </div>
            </div>
        </div>
        <!-- container Ended-->
    </section>
    <!-- Blog section Ended-->